<p id="notice"><%= notice %></p>

<h1>Listing Teams</h1>

<table>
  <thead>
    <tr>
      <th>Team name</th>
      <th>Founded date</th>
      <th>Home city</th>
      <th>President</th>
      <th>Coach</th>
      <th>Total player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= team.founded_date %></td>
        <td><%= team.home_city %></td>
        <td><%= team.president %></td>
        <td><%= team.coach %></td>
        <td>(<%= team.players_count %>)</td>
        <td><%= link_to "Show", team %></td>
        <td><%= link_to "Edit", edit_team_path(team) %></td>
        <td><%= link_to "Delete", team, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Add New Team", new_team_path %>
