<p id="notice"><%= notice %></p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Founded date:</strong>
  <%= @team.founded_date %>
</p>

<p>
  <strong>Home city:</strong>
  <%= @team.home_city %>
</p>

<p>
  <strong>President:</strong>
  <%= @team.president %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @team.coach %>
</p>

<%= link_to "Edit", edit_team_path(@team) %> |
<%= link_to "Back", teams_path %>
