<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Commentable:</strong>
  <%= @comment.commentable %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
