<%= form_for(@scoreboard) do |f| %>
  <% if @scoreboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scoreboard.errors.count, "error") %> prohibited this scoreboard from being saved:</h2>

      <ul>
      <% @scoreboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :match_day %><br>
    <%= f.date_select :match_day %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, ['Pending', 'Ongoing', 'Completed']%>
  </div>
  <div class="field">
    <%= f.label :home_team_id %><br>
    <%= f.number_field :home_team_id %>
  </div>
  <div class="field">
    <%= f.label :away_team_id %><br>
    <%= f.number_field :away_team_id %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
