<p id="notice"><%= notice %></p>

<h1>Listing Scoreboards</h1>

<table>
  <thead>
    <tr>
      <th>Match day</th>
      <th>Status</th>
      <th>Home team</th>
      <th>Away team</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scoreboards.each do |scoreboard| %>
      <tr>
        <td><%= scoreboard.match_day %></td>
        <td><%= scoreboard.status %></td>
        <td><%= scoreboard.home_team_id %></td>
        <td><%= scoreboard.away_team_id %></td>
        <td><%= scoreboard.score %></td>
        <td><%= link_to 'Show', scoreboard %></td>
        <td><%= link_to 'Edit', edit_scoreboard_path(scoreboard) %></td>
        <td><%= link_to 'Destroy', scoreboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scoreboard', new_scoreboard_path %>
