<p id="notice"><%= notice %></p>

<p>
  <strong>Match day:</strong>
  <%= @scoreboard.match_day %>
</p>

<p>
  <strong>Status:</strong>
  <%= @scoreboard.status %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @scoreboard.home_team_id %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @scoreboard.away_team_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @scoreboard.score %>
</p>


<%= link_to 'Edit', edit_scoreboard_path(@scoreboard) %> |
<%= link_to 'Back', scoreboards_path %>
