<%= form_for(@room_user) do |f| %>
  <% if @room_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_user.errors.count, "error") %> prohibited this room_user from being saved:</h2>

      <ul>
      <% @room_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.text_field :room_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :folder_id %><br>
    <%= f.text_field :folder_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
