<p id="notice"><%= notice %></p>

<h1>Listing Room Users</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>User</th>
      <th>Folder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @room_users.each do |room_user| %>
      <tr>
        <td><%= room_user.room %></td>
        <td><%= room_user.user %></td>
        <td><%= room_user.folder %></td>
        <td><%= link_to 'Show', room_user %></td>
        <td><%= link_to 'Edit', edit_room_user_path(room_user) %></td>
        <td><%= link_to 'Destroy', room_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room user', new_room_user_path %>
