<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @room_user.room %>
</p>

<p>
  <strong>User:</strong>
  <%= @room_user.user %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @room_user.folder %>
</p>

<%= link_to 'Edit', edit_room_user_path(@room_user) %> |
<%= link_to 'Back', room_users_path %>
