<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
<p>
  <strong>Age:</strong>
  <%= @player.age %>
</p>
<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>
<p>
  <strong>Team:</strong>
  <%= @player.team_id %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
